<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>微博首页</title>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/pure-min.css">
    <style type="text/css">
    .todo-table {
        margin: 0 auto;
    }
    .center {
        text-align: center;
    }
    </style>
</head>
<body>
    <div class="center">
        <h1>微博首页</h1>
    </div>
        <form action={{ url_for("weibo.add") }} method="post">
            <div class="form-group">
                <input type="text" id="content" class="form-control" name="content" placeholder="请输入微博内容">
            </div>
            <button class="btn btn-primary">发微博</button>
        </form>


        <a href={{ url_for('user.index') }}><h3>{{ curr_user.username }}的主页</h3></a>
        <div class="center">
            <h6>所有用户的微博</h6>
        </div>
        <table class="todo-table pure-table pure-table-horizontal pure-table-striped">
            <thead>
                <tr>
                    <th>博主</th>
                    <th>微博</th>
                    <th>最近更博时间</th>
                </tr>
            </thead>
            <tbody>
            {% for m in models %}
                <tr>
                    <td>{{ m.user.username }} </td>
                    <td><a href={{ url_for('weibo.index',id=m.id) }}>{{ m.content }}</a></td>
                    <td>{{ m.updated_time | format_time }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

</body>
</html>
